[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude =
    .venv,
    .git,
    .gitignore,
    .dvc,
    .dvc/cache,
    models,
    mlruns,
    mlruns/*,
    __pycache__,
    node_modules,
    .pytest_cache,
    .vscode,
    *.pyc
